.body{
    background: #59C173;
    background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);
    background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173);
    text-align: center;    
}

.form{
    padding: 20px;
}

.form_input{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.form_button{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    margin-left: 50%;
    width: 110px;
    transform: translateX(-50%);
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    grid-auto-rows: 100px;
    grid-gap: 10px;
}

.div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img{
    margin: 20px;
    width: 200px;
    height:200px;
    object-fit: cover;
}
