<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="loginStyle.css">
</head>
<body class="body_login">
    <h1>BIENVENIDO AL IMAGE DRIVE CASERO</h1>
    <div class="contenedor">
        <div class="div">
            <form action="/subirArchivo" class="form">
                <h2>Inicio de Sesion</h2>
                <label for="">Usuario</label>
                <input type="text" id="User">
                <label for="">Contraseña</label>
                <input type="password" id="Password">
                <button type="submit" class="button">Ingresar</button>
            </form>
        </div>
        <div class="div">
            <form action="/" class="form" method="POST">
                <h2>Registro de Usuario</h2>
                <label for="">Usuario</label>
                <input type="text" id="NewUser">
                <label for="">Contraseña</label>
                <input type="password" id="newPassword">
                <label for="">Confirmar Contraseña</label>
                <input type="password" id="ConfirmPassword">
                <button type="submit" class="button">Registrar</button>
            </form>
        </div>
    </div>

</body>
</html>