<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Subir Archivos</title>
</head>
<body class="body">
    <div class="div">
        <form action="/subirArchivo" method="POST" enctype="multipart/form-data" class="form">
            <input type="file" name="subida" class="form_input">
            <button type="submit" class="form_button">Subir Archivo</button>
        </form>
        <div>
        </div>
    </div>
</body>
</html>