<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Upload files</title>
</head>
<body class="body">
    <form action="/subirArchivo" method="POST" enctype="multipart/form-data" class="form">
        <input type="file" name="subida" class="form_input">
        <button type="submit" class="form_button">Submit</button>
    </form>
    
    <div class="div">
        <% datos.forEach(function(datos){ %>
            <div class="div_img">
                <img src="<%= datos.path %>" alt="" class="img">
            </div>
        <% }) %>    
    </div>
</body>
</html>